.wide{
  width: 100%;
  margin-left: 0 !important;margin-right: 0 !important;
}

input[type="button"]:not(:disabled),
input[type="submit"]:not(:disabled),
input[type="reset"]:not(:disabled),
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
button:not(:disabled){
    &.smaller{
        padding: .6rem;
        font-size: .8rem;
        min-height: 2rem;
        min-width: 4rem;
    }
    &.larger{
        padding: 1rem;
        font-size: 1.4rem;
        min-height: 4rem;
        min-width: 6rem;
    }
}
