// angles for different gradients
$grad-angles: 45deg 145deg 225deg 315deg;
// default props for background components
$bg-p: 'background';
// default props for text components
$text-p: 'color';
// default props for curves
$curve-p: 'border-radius' 'min-height' 'min-width';
// default props for borders
$border-p: 'border';
// default props for components
$base-p: 'background' 'box-shadow' 'border-color';
// default events (this library offers)
$events: 'active' 'focus' 'hover';
// default effects
$effects: 'push';
$effect-p: 'box-shadow';