$types: (
    'dark': ('background': #24282d, 'box-shadow':('darker': #00000020, 'lighter': #ffffff08)),
    'light': ('background': #ebecf0, 'box-shadow':('darker': #00000015, 'lighter': #ffffff92)),
    'blue': ('background': #017dd3, 'box-shadow':('darker': #00000020, 'lighter': #ffffff20)), 
    'green': ('background': #256668, 'box-shadow':('darker': #00000020, 'lighter': #ffffff20)),
    'red': ('background': #b91715, 'box-shadow':('darker': #00000025, 'lighter': #ffffff25)),
    'yellow': ('background': #ffcf00, 'box-shadow':('darker': #00000020, 'lighter': #ffffff98))
    );

$angles:(
    'tr':('x': -4px 4px, 'y': 4px -4px),
    'br':('x': -4px -4px, 'y': 4px 4px),
    'tl':('x': 4px 4px, 'y': -4px -4px),
    'bl':('x': 4px -4px, 'y': -4px 4px)
    );

$colors: (
    'dark': ('color': #999, 'background': #24282d),
    'light': ('color': #ececec, 'background': #ebecf0),
    'blue': ('color': #80a3ff, 'background': #017dd3), 
    'green': ('color': green, 'background': #256668),
    'red': ('color': #ff0d45, 'background': #b91715),
    'yellow': ('color': #ffcf00, 'background': #ffcf00)
    );
$bgs: 'background';
$texts: 'color';
$keys: 'primary' 'dark' 'light' 'success' 'danger' 'warning';
$props: 'background' 'box-shadow';


.btn{
    border: 0;
    border-radius: 20%;
    height: 3rem;
    width: 6rem;
    margin: 1rem;
}

@mixin setup($map, $keys){
    @each $keymap, $valuemap in $map{
        .#{$keymap}-type{
            @each $key in $keys{
                @if(#{$key} != box-shadow){
                    #{$key}: map-get($valuemap, $key);
                }
            }
        }
    }
}

@mixin set_neumorph_colors($map, $bgs, $texts){
    @each $keymap, $valuemap in $map{
        .bg-#{$keymap}{
            @each $bg in $bgs{
                #{$bg}: map-get($valuemap, $bg);
            }
        }
        .#{$keymap}{
            @each $text in $texts{
                #{$text}: map-get($valuemap, $text);
            }
        }
    }
}
@mixin set_neumorph_element($map, $keys){
    @each $keymap, $valuemap in $map{
        @each $angle, $values in $angles{
            .#{$angle}-#{$keymap}{
                @each $key in $keys{
                    @if $key == box-shadow {
                        #{$key}: map-get($values, 'x') 10px 2px map-get(map-get($valuemap, $key), darker), map-get($values, 'y') 10px 2px map-get(map-get($valuemap, $key), lighter);
                    }
                    @else{
                        #{$key}: map-get($valuemap, $key);
                    }
                }
            }
        }
    }
}

@include set_neumorph_colors($colors, $bgs, $texts);
@include set_neumorph_element($types, $props);


// @include setup($test, $k);