.btn {
  border: 0;
  border-radius: 20%;
  height: 3rem;
  width: 6rem;
  margin: 1rem;
}

.bg-dark {
  background: #24282d;
}

.dark {
  color: #999;
}

.bg-light {
  background: #ebecf0;
}

.light {
  color: #ececec;
}

.bg-blue {
  background: #017dd3;
}

.blue {
  color: #80a3ff;
}

.bg-green {
  background: #256668;
}

.green {
  color: green;
}

.bg-red {
  background: #b91715;
}

.red {
  color: #ff0d45;
}

.bg-yellow {
  background: #ffcf00;
}

.yellow {
  color: #ffcf00;
}

.tr-dark {
  background: #24282d;
  -webkit-box-shadow: -4px 4px 10px 2px #00000020, 4px -4px 10px 2px #ffffff08;
          box-shadow: -4px 4px 10px 2px #00000020, 4px -4px 10px 2px #ffffff08;
}

.br-dark {
  background: #24282d;
  -webkit-box-shadow: -4px -4px 10px 2px #00000020, 4px 4px 10px 2px #ffffff08;
          box-shadow: -4px -4px 10px 2px #00000020, 4px 4px 10px 2px #ffffff08;
}

.tl-dark {
  background: #24282d;
  -webkit-box-shadow: 4px 4px 10px 2px #00000020, -4px -4px 10px 2px #ffffff08;
          box-shadow: 4px 4px 10px 2px #00000020, -4px -4px 10px 2px #ffffff08;
}

.bl-dark {
  background: #24282d;
  -webkit-box-shadow: 4px -4px 10px 2px #00000020, -4px 4px 10px 2px #ffffff08;
          box-shadow: 4px -4px 10px 2px #00000020, -4px 4px 10px 2px #ffffff08;
}

.tr-light {
  background: #ebecf0;
  -webkit-box-shadow: -4px 4px 10px 2px #00000015, 4px -4px 10px 2px #ffffff92;
          box-shadow: -4px 4px 10px 2px #00000015, 4px -4px 10px 2px #ffffff92;
}

.br-light {
  background: #ebecf0;
  -webkit-box-shadow: -4px -4px 10px 2px #00000015, 4px 4px 10px 2px #ffffff92;
          box-shadow: -4px -4px 10px 2px #00000015, 4px 4px 10px 2px #ffffff92;
}

.tl-light {
  background: #ebecf0;
  -webkit-box-shadow: 4px 4px 10px 2px #00000015, -4px -4px 10px 2px #ffffff92;
          box-shadow: 4px 4px 10px 2px #00000015, -4px -4px 10px 2px #ffffff92;
}

.bl-light {
  background: #ebecf0;
  -webkit-box-shadow: 4px -4px 10px 2px #00000015, -4px 4px 10px 2px #ffffff92;
          box-shadow: 4px -4px 10px 2px #00000015, -4px 4px 10px 2px #ffffff92;
}

.tr-blue {
  background: #017dd3;
  -webkit-box-shadow: -4px 4px 10px 2px #00000020, 4px -4px 10px 2px #ffffff20;
          box-shadow: -4px 4px 10px 2px #00000020, 4px -4px 10px 2px #ffffff20;
}

.br-blue {
  background: #017dd3;
  -webkit-box-shadow: -4px -4px 10px 2px #00000020, 4px 4px 10px 2px #ffffff20;
          box-shadow: -4px -4px 10px 2px #00000020, 4px 4px 10px 2px #ffffff20;
}

.tl-blue {
  background: #017dd3;
  -webkit-box-shadow: 4px 4px 10px 2px #00000020, -4px -4px 10px 2px #ffffff20;
          box-shadow: 4px 4px 10px 2px #00000020, -4px -4px 10px 2px #ffffff20;
}

.bl-blue {
  background: #017dd3;
  -webkit-box-shadow: 4px -4px 10px 2px #00000020, -4px 4px 10px 2px #ffffff20;
          box-shadow: 4px -4px 10px 2px #00000020, -4px 4px 10px 2px #ffffff20;
}

.tr-green {
  background: #256668;
  -webkit-box-shadow: -4px 4px 10px 2px #00000020, 4px -4px 10px 2px #ffffff20;
          box-shadow: -4px 4px 10px 2px #00000020, 4px -4px 10px 2px #ffffff20;
}

.br-green {
  background: #256668;
  -webkit-box-shadow: -4px -4px 10px 2px #00000020, 4px 4px 10px 2px #ffffff20;
          box-shadow: -4px -4px 10px 2px #00000020, 4px 4px 10px 2px #ffffff20;
}

.tl-green {
  background: #256668;
  -webkit-box-shadow: 4px 4px 10px 2px #00000020, -4px -4px 10px 2px #ffffff20;
          box-shadow: 4px 4px 10px 2px #00000020, -4px -4px 10px 2px #ffffff20;
}

.bl-green {
  background: #256668;
  -webkit-box-shadow: 4px -4px 10px 2px #00000020, -4px 4px 10px 2px #ffffff20;
          box-shadow: 4px -4px 10px 2px #00000020, -4px 4px 10px 2px #ffffff20;
}

.tr-red {
  background: #b91715;
  -webkit-box-shadow: -4px 4px 10px 2px #00000025, 4px -4px 10px 2px #ffffff25;
          box-shadow: -4px 4px 10px 2px #00000025, 4px -4px 10px 2px #ffffff25;
}

.br-red {
  background: #b91715;
  -webkit-box-shadow: -4px -4px 10px 2px #00000025, 4px 4px 10px 2px #ffffff25;
          box-shadow: -4px -4px 10px 2px #00000025, 4px 4px 10px 2px #ffffff25;
}

.tl-red {
  background: #b91715;
  -webkit-box-shadow: 4px 4px 10px 2px #00000025, -4px -4px 10px 2px #ffffff25;
          box-shadow: 4px 4px 10px 2px #00000025, -4px -4px 10px 2px #ffffff25;
}

.bl-red {
  background: #b91715;
  -webkit-box-shadow: 4px -4px 10px 2px #00000025, -4px 4px 10px 2px #ffffff25;
          box-shadow: 4px -4px 10px 2px #00000025, -4px 4px 10px 2px #ffffff25;
}

.tr-yellow {
  background: #ffcf00;
  -webkit-box-shadow: -4px 4px 10px 2px #00000020, 4px -4px 10px 2px #ffffff98;
          box-shadow: -4px 4px 10px 2px #00000020, 4px -4px 10px 2px #ffffff98;
}

.br-yellow {
  background: #ffcf00;
  -webkit-box-shadow: -4px -4px 10px 2px #00000020, 4px 4px 10px 2px #ffffff98;
          box-shadow: -4px -4px 10px 2px #00000020, 4px 4px 10px 2px #ffffff98;
}

.tl-yellow {
  background: #ffcf00;
  -webkit-box-shadow: 4px 4px 10px 2px #00000020, -4px -4px 10px 2px #ffffff98;
          box-shadow: 4px 4px 10px 2px #00000020, -4px -4px 10px 2px #ffffff98;
}

.bl-yellow {
  background: #ffcf00;
  -webkit-box-shadow: 4px -4px 10px 2px #00000020, -4px 4px 10px 2px #ffffff98;
          box-shadow: 4px -4px 10px 2px #00000020, -4px 4px 10px 2px #ffffff98;
}
/*# sourceMappingURL=neumorphism.css.map */