.btn {
  border: 0px;
  min-height: 3rem;
  min-width: 6rem;
  font-weight: bold;
  font-size: 1rem; }
  .btn:focus {
    outline: none !important;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(255, 255, 255, 0.08); }

.bg-dark {
  background: #24282d !important; }

.bg-light {
  background: #e0e0e0 !important; }

.bg-blue {
  background: #017dd3 !important; }

.bg-green {
  background: #256668 !important; }

.bg-red {
  background: #b91715 !important; }

.bg-yellow {
  background: #ffd06c !important; }

.text-dark {
  color: #999; }

.text-light {
  color: #ececec; }

.text-blue {
  color: #80a3ff; }

.text-green {
  color: #67ff48; }

.text-red {
  color: #ff0d45; }

.text-yellow {
  color: #ffe032; }

.text-black {
  color: #000000; }

.text-white {
  color: #ffffff; }

.curve-1 {
  border-radius: 10px; }

.curve-2 {
  border-radius: 20px; }

.curve-3 {
  border-radius: 30px; }

.curve-4 {
  border-radius: 40px; }

.curve-5 {
  border-radius: 50px; }

.rounded {
  border-radius: 50%;
  min-height: 2rem;
  min-width: 2rem; }

.border-1 {
  border: 0.2rem solid; }

.border-2 {
  border: 0.3rem solid; }

.border-3 {
  border: 0.4rem solid; }

.border-4 {
  border: 0.5rem solid; }

.border-5 {
  border: 0.6rem solid; }

.tr-dark {
  background: #24282d !important;
  box-shadow: -4px 4px 8px 2px #00000020, 4px -4px 8px 2px #ffffff08;
  border-color: #24282d !important; }
  .tr-dark.s1 {
    box-shadow: inset -4px 4px 8px #00000020, inset 4px -4px 8px 2px #ffffff08; }
  .tr-dark.s2 {
    box-shadow: -4px 4px 8px 2px #00000020, 4px -4px 8px 2px #ffffff08, inset -4px 4px 4px #00000020, inset 4px -4px 4px #ffffff08; }

.br-dark {
  background: #24282d !important;
  box-shadow: -4px -4px 8px 2px #00000020, 4px 4px 8px 2px #ffffff08;
  border-color: #24282d !important; }
  .br-dark.s1 {
    box-shadow: inset -4px -4px 8px #00000020, inset 4px 4px 8px 2px #ffffff08; }
  .br-dark.s2 {
    box-shadow: -4px -4px 8px 2px #00000020, 4px 4px 8px 2px #ffffff08, inset -4px -4px 4px #00000020, inset 4px 4px 4px #ffffff08; }

.tl-dark {
  background: #24282d !important;
  box-shadow: 4px 4px 8px 2px #00000020, -4px -4px 8px 2px #ffffff08;
  border-color: #24282d !important; }
  .tl-dark.s1 {
    box-shadow: inset 4px 4px 8px #00000020, inset -4px -4px 8px 2px #ffffff08; }
  .tl-dark.s2 {
    box-shadow: 4px 4px 8px 2px #00000020, -4px -4px 8px 2px #ffffff08, inset 4px 4px 4px #00000020, inset -4px -4px 4px #ffffff08; }

.bl-dark {
  background: #24282d !important;
  box-shadow: 4px -4px 8px 2px #00000020, -4px 4px 8px 2px #ffffff08;
  border-color: #24282d !important; }
  .bl-dark.s1 {
    box-shadow: inset 4px -4px 8px #00000020, inset -4px 4px 8px 2px #ffffff08; }
  .bl-dark.s2 {
    box-shadow: 4px -4px 8px 2px #00000020, -4px 4px 8px 2px #ffffff08, inset 4px -4px 4px #00000020, inset -4px 4px 4px #ffffff08; }

.tr-light {
  background: #e0e0e0 !important;
  box-shadow: -4px 4px 8px 2px #00000015, 4px -4px 8px 2px #ffffff92;
  border-color: #e0e0e0 !important; }
  .tr-light.s1 {
    box-shadow: inset -4px 4px 8px #00000015, inset 4px -4px 8px 2px #ffffff92; }
  .tr-light.s2 {
    box-shadow: -4px 4px 8px 2px #00000015, 4px -4px 8px 2px #ffffff92, inset -4px 4px 4px #00000015, inset 4px -4px 4px #ffffff92; }

.br-light {
  background: #e0e0e0 !important;
  box-shadow: -4px -4px 8px 2px #00000015, 4px 4px 8px 2px #ffffff92;
  border-color: #e0e0e0 !important; }
  .br-light.s1 {
    box-shadow: inset -4px -4px 8px #00000015, inset 4px 4px 8px 2px #ffffff92; }
  .br-light.s2 {
    box-shadow: -4px -4px 8px 2px #00000015, 4px 4px 8px 2px #ffffff92, inset -4px -4px 4px #00000015, inset 4px 4px 4px #ffffff92; }

.tl-light {
  background: #e0e0e0 !important;
  box-shadow: 4px 4px 8px 2px #00000015, -4px -4px 8px 2px #ffffff92;
  border-color: #e0e0e0 !important; }
  .tl-light.s1 {
    box-shadow: inset 4px 4px 8px #00000015, inset -4px -4px 8px 2px #ffffff92; }
  .tl-light.s2 {
    box-shadow: 4px 4px 8px 2px #00000015, -4px -4px 8px 2px #ffffff92, inset 4px 4px 4px #00000015, inset -4px -4px 4px #ffffff92; }

.bl-light {
  background: #e0e0e0 !important;
  box-shadow: 4px -4px 8px 2px #00000015, -4px 4px 8px 2px #ffffff92;
  border-color: #e0e0e0 !important; }
  .bl-light.s1 {
    box-shadow: inset 4px -4px 8px #00000015, inset -4px 4px 8px 2px #ffffff92; }
  .bl-light.s2 {
    box-shadow: 4px -4px 8px 2px #00000015, -4px 4px 8px 2px #ffffff92, inset 4px -4px 4px #00000015, inset -4px 4px 4px #ffffff92; }

.tr-blue {
  background: #017dd3 !important;
  box-shadow: -4px 4px 8px 2px #00000020, 4px -4px 8px 2px #ffffff20;
  border-color: #017dd3 !important; }
  .tr-blue.s1 {
    box-shadow: inset -4px 4px 8px #00000020, inset 4px -4px 8px 2px #ffffff20; }
  .tr-blue.s2 {
    box-shadow: -4px 4px 8px 2px #00000020, 4px -4px 8px 2px #ffffff20, inset -4px 4px 4px #00000020, inset 4px -4px 4px #ffffff20; }

.br-blue {
  background: #017dd3 !important;
  box-shadow: -4px -4px 8px 2px #00000020, 4px 4px 8px 2px #ffffff20;
  border-color: #017dd3 !important; }
  .br-blue.s1 {
    box-shadow: inset -4px -4px 8px #00000020, inset 4px 4px 8px 2px #ffffff20; }
  .br-blue.s2 {
    box-shadow: -4px -4px 8px 2px #00000020, 4px 4px 8px 2px #ffffff20, inset -4px -4px 4px #00000020, inset 4px 4px 4px #ffffff20; }

.tl-blue {
  background: #017dd3 !important;
  box-shadow: 4px 4px 8px 2px #00000020, -4px -4px 8px 2px #ffffff20;
  border-color: #017dd3 !important; }
  .tl-blue.s1 {
    box-shadow: inset 4px 4px 8px #00000020, inset -4px -4px 8px 2px #ffffff20; }
  .tl-blue.s2 {
    box-shadow: 4px 4px 8px 2px #00000020, -4px -4px 8px 2px #ffffff20, inset 4px 4px 4px #00000020, inset -4px -4px 4px #ffffff20; }

.bl-blue {
  background: #017dd3 !important;
  box-shadow: 4px -4px 8px 2px #00000020, -4px 4px 8px 2px #ffffff20;
  border-color: #017dd3 !important; }
  .bl-blue.s1 {
    box-shadow: inset 4px -4px 8px #00000020, inset -4px 4px 8px 2px #ffffff20; }
  .bl-blue.s2 {
    box-shadow: 4px -4px 8px 2px #00000020, -4px 4px 8px 2px #ffffff20, inset 4px -4px 4px #00000020, inset -4px 4px 4px #ffffff20; }

.tr-green {
  background: #256668 !important;
  box-shadow: -4px 4px 8px 2px #00000020, 4px -4px 8px 2px #ffffff20;
  border-color: #256668 !important; }
  .tr-green.s1 {
    box-shadow: inset -4px 4px 8px #00000020, inset 4px -4px 8px 2px #ffffff20; }
  .tr-green.s2 {
    box-shadow: -4px 4px 8px 2px #00000020, 4px -4px 8px 2px #ffffff20, inset -4px 4px 4px #00000020, inset 4px -4px 4px #ffffff20; }

.br-green {
  background: #256668 !important;
  box-shadow: -4px -4px 8px 2px #00000020, 4px 4px 8px 2px #ffffff20;
  border-color: #256668 !important; }
  .br-green.s1 {
    box-shadow: inset -4px -4px 8px #00000020, inset 4px 4px 8px 2px #ffffff20; }
  .br-green.s2 {
    box-shadow: -4px -4px 8px 2px #00000020, 4px 4px 8px 2px #ffffff20, inset -4px -4px 4px #00000020, inset 4px 4px 4px #ffffff20; }

.tl-green {
  background: #256668 !important;
  box-shadow: 4px 4px 8px 2px #00000020, -4px -4px 8px 2px #ffffff20;
  border-color: #256668 !important; }
  .tl-green.s1 {
    box-shadow: inset 4px 4px 8px #00000020, inset -4px -4px 8px 2px #ffffff20; }
  .tl-green.s2 {
    box-shadow: 4px 4px 8px 2px #00000020, -4px -4px 8px 2px #ffffff20, inset 4px 4px 4px #00000020, inset -4px -4px 4px #ffffff20; }

.bl-green {
  background: #256668 !important;
  box-shadow: 4px -4px 8px 2px #00000020, -4px 4px 8px 2px #ffffff20;
  border-color: #256668 !important; }
  .bl-green.s1 {
    box-shadow: inset 4px -4px 8px #00000020, inset -4px 4px 8px 2px #ffffff20; }
  .bl-green.s2 {
    box-shadow: 4px -4px 8px 2px #00000020, -4px 4px 8px 2px #ffffff20, inset 4px -4px 4px #00000020, inset -4px 4px 4px #ffffff20; }

.tr-red {
  background: #b91715 !important;
  box-shadow: -4px 4px 8px 2px #00000025, 4px -4px 8px 2px #ffffff25;
  border-color: #b91715 !important; }
  .tr-red.s1 {
    box-shadow: inset -4px 4px 8px #00000025, inset 4px -4px 8px 2px #ffffff25; }
  .tr-red.s2 {
    box-shadow: -4px 4px 8px 2px #00000025, 4px -4px 8px 2px #ffffff25, inset -4px 4px 4px #00000025, inset 4px -4px 4px #ffffff25; }

.br-red {
  background: #b91715 !important;
  box-shadow: -4px -4px 8px 2px #00000025, 4px 4px 8px 2px #ffffff25;
  border-color: #b91715 !important; }
  .br-red.s1 {
    box-shadow: inset -4px -4px 8px #00000025, inset 4px 4px 8px 2px #ffffff25; }
  .br-red.s2 {
    box-shadow: -4px -4px 8px 2px #00000025, 4px 4px 8px 2px #ffffff25, inset -4px -4px 4px #00000025, inset 4px 4px 4px #ffffff25; }

.tl-red {
  background: #b91715 !important;
  box-shadow: 4px 4px 8px 2px #00000025, -4px -4px 8px 2px #ffffff25;
  border-color: #b91715 !important; }
  .tl-red.s1 {
    box-shadow: inset 4px 4px 8px #00000025, inset -4px -4px 8px 2px #ffffff25; }
  .tl-red.s2 {
    box-shadow: 4px 4px 8px 2px #00000025, -4px -4px 8px 2px #ffffff25, inset 4px 4px 4px #00000025, inset -4px -4px 4px #ffffff25; }

.bl-red {
  background: #b91715 !important;
  box-shadow: 4px -4px 8px 2px #00000025, -4px 4px 8px 2px #ffffff25;
  border-color: #b91715 !important; }
  .bl-red.s1 {
    box-shadow: inset 4px -4px 8px #00000025, inset -4px 4px 8px 2px #ffffff25; }
  .bl-red.s2 {
    box-shadow: 4px -4px 8px 2px #00000025, -4px 4px 8px 2px #ffffff25, inset 4px -4px 4px #00000025, inset -4px 4px 4px #ffffff25; }

.tr-yellow {
  background: #ffd06c !important;
  box-shadow: -4px 4px 8px 2px #00000020, 4px -4px 8px 2px #ffffff98;
  border-color: #ffd06c !important; }
  .tr-yellow.s1 {
    box-shadow: inset -4px 4px 8px #00000020, inset 4px -4px 8px 2px #ffffff98; }
  .tr-yellow.s2 {
    box-shadow: -4px 4px 8px 2px #00000020, 4px -4px 8px 2px #ffffff98, inset -4px 4px 4px #00000020, inset 4px -4px 4px #ffffff98; }

.br-yellow {
  background: #ffd06c !important;
  box-shadow: -4px -4px 8px 2px #00000020, 4px 4px 8px 2px #ffffff98;
  border-color: #ffd06c !important; }
  .br-yellow.s1 {
    box-shadow: inset -4px -4px 8px #00000020, inset 4px 4px 8px 2px #ffffff98; }
  .br-yellow.s2 {
    box-shadow: -4px -4px 8px 2px #00000020, 4px 4px 8px 2px #ffffff98, inset -4px -4px 4px #00000020, inset 4px 4px 4px #ffffff98; }

.tl-yellow {
  background: #ffd06c !important;
  box-shadow: 4px 4px 8px 2px #00000020, -4px -4px 8px 2px #ffffff98;
  border-color: #ffd06c !important; }
  .tl-yellow.s1 {
    box-shadow: inset 4px 4px 8px #00000020, inset -4px -4px 8px 2px #ffffff98; }
  .tl-yellow.s2 {
    box-shadow: 4px 4px 8px 2px #00000020, -4px -4px 8px 2px #ffffff98, inset 4px 4px 4px #00000020, inset -4px -4px 4px #ffffff98; }

.bl-yellow {
  background: #ffd06c !important;
  box-shadow: 4px -4px 8px 2px #00000020, -4px 4px 8px 2px #ffffff98;
  border-color: #ffd06c !important; }
  .bl-yellow.s1 {
    box-shadow: inset 4px -4px 8px #00000020, inset -4px 4px 8px 2px #ffffff98; }
  .bl-yellow.s2 {
    box-shadow: 4px -4px 8px 2px #00000020, -4px 4px 8px 2px #ffffff98, inset 4px -4px 4px #00000020, inset -4px 4px 4px #ffffff98; }

.tr-dark.concave {
  background: linear-gradient(145deg, #202429, #272b30) !important; }
.tr-dark.convex {
  background: linear-gradient(145deg, #272b30, #202429) !important; }

.br-dark.concave {
  background: linear-gradient(45deg, #202429, #272b30) !important; }
.br-dark.convex {
  background: linear-gradient(45deg, #272b30, #202429) !important; }

.tl-dark.concave {
  background: linear-gradient(225deg, #202429, #272b30) !important; }
.tl-dark.convex {
  background: linear-gradient(225deg, #272b30, #202429) !important; }

.bl-dark.concave {
  background: linear-gradient(315deg, #202429, #272b30) !important; }
.bl-dark.convex {
  background: linear-gradient(315deg, #272b30, #202429) !important; }

.tr-light.concave {
  background: linear-gradient(145deg, #cacaca, #f0f0f0) !important; }
.tr-light.convex {
  background: linear-gradient(145deg, #f0f0f0, #cacaca) !important; }

.br-light.concave {
  background: linear-gradient(45deg, #cacaca, #f0f0f0) !important; }
.br-light.convex {
  background: linear-gradient(45deg, #f0f0f0, #cacaca) !important; }

.tl-light.concave {
  background: linear-gradient(225deg, #cacaca, #f0f0f0) !important; }
.tl-light.convex {
  background: linear-gradient(225deg, #f0f0f0, #cacaca) !important; }

.bl-light.concave {
  background: linear-gradient(315deg, #cacaca, #f0f0f0) !important; }
.bl-light.convex {
  background: linear-gradient(315deg, #f0f0f0, #cacaca) !important; }

.tr-blue.concave {
  background: linear-gradient(145deg, #0171be, #0186e2) !important; }
.tr-blue.convex {
  background: linear-gradient(145deg, #0186e2, #0171be) !important; }

.br-blue.concave {
  background: linear-gradient(45deg, #0171be, #0186e2) !important; }
.br-blue.convex {
  background: linear-gradient(45deg, #0186e2, #0171be) !important; }

.tl-blue.concave {
  background: linear-gradient(225deg, #0171be, #0186e2) !important; }
.tl-blue.convex {
  background: linear-gradient(225deg, #0186e2, #0171be) !important; }

.bl-blue.concave {
  background: linear-gradient(315deg, #0171be, #0186e2) !important; }
.bl-blue.convex {
  background: linear-gradient(315deg, #0186e2, #0171be) !important; }

.tr-green.concave {
  background: linear-gradient(145deg, #215c5e, #286d6f) !important; }
.tr-green.convex {
  background: linear-gradient(145deg, #286d6f, #215c5e) !important; }

.br-green.concave {
  background: linear-gradient(45deg, #215c5e, #286d6f) !important; }
.br-green.convex {
  background: linear-gradient(45deg, #286d6f, #215c5e) !important; }

.tl-green.concave {
  background: linear-gradient(225deg, #215c5e, #286d6f) !important; }
.tl-green.convex {
  background: linear-gradient(225deg, #286d6f, #215c5e) !important; }

.bl-green.concave {
  background: linear-gradient(315deg, #215c5e, #286d6f) !important; }
.bl-green.convex {
  background: linear-gradient(315deg, #286d6f, #215c5e) !important; }

.tr-red.concave {
  background: linear-gradient(145deg, #a71513, #c61916) !important; }
.tr-red.convex {
  background: linear-gradient(145deg, #c61916, #a71513) !important; }

.br-red.concave {
  background: linear-gradient(45deg, #a71513, #c61916) !important; }
.br-red.convex {
  background: linear-gradient(45deg, #c61916, #a71513) !important; }

.tl-red.concave {
  background: linear-gradient(225deg, #a71513, #c61916) !important; }
.tl-red.convex {
  background: linear-gradient(225deg, #c61916, #a71513) !important; }

.bl-red.concave {
  background: linear-gradient(315deg, #a71513, #c61916) !important; }
.bl-red.convex {
  background: linear-gradient(315deg, #c61916, #a71513) !important; }

.tr-yellow.concave {
  background: linear-gradient(145deg, #e6bb61, #ffdf74) !important; }
.tr-yellow.convex {
  background: linear-gradient(145deg, #ffdf74, #e6bb61) !important; }

.br-yellow.concave {
  background: linear-gradient(45deg, #e6bb61, #ffdf74) !important; }
.br-yellow.convex {
  background: linear-gradient(45deg, #ffdf74, #e6bb61) !important; }

.tl-yellow.concave {
  background: linear-gradient(225deg, #e6bb61, #ffdf74) !important; }
.tl-yellow.convex {
  background: linear-gradient(225deg, #ffdf74, #e6bb61) !important; }

.bl-yellow.concave {
  background: linear-gradient(315deg, #e6bb61, #ffdf74) !important; }
.bl-yellow.convex {
  background: linear-gradient(315deg, #ffdf74, #e6bb61) !important; }

/* Type 1 */
@keyframes tl-push {
  0% {
    height: 3rem;
    width: 6rem;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(255, 255, 255, 0.08); }
  100% {
    height: 3rem;
    width: 6rem;
    box-shadow: -4px -4px 15px 0px rgba(177, 177, 177, 0.03) inset, 4px 4px 10px 2px rgba(0, 0, 0, 0.12) inset; } }
/* box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(177, 177, 177, 0.08), -4px -4px 15px 0px rgba(177, 177, 177, 0.03) inset, 4px 4px 10px 2px rgba(0, 0, 0, 0.12) inset; */
@keyframes tl-un-push {
  0% {
    height: 3rem;
    width: 6rem;
    box-shadow: -4px -4px 15px rgba(177, 177, 177, 0.03) inset, 4px 4px 10px rgba(0, 0, 0, 0.12) inset; }
  100% {
    height: 3rem;
    width: 6rem;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(255, 255, 255, 0.08); } }

/*# sourceMappingURL=neumorphism.css.map */
