// background color
$dark: #24282d;
$light: #e1e8f0;
$blue: #017dd3;
$green: #2a8a86;
$red: #b91715;
$yellow: #ffd06c;

// light box-shadow color
$ddark: #1f2226;
$dlight: #bfc5cc;
$dblue: #016ab3;
$dgreen: #247572;
$dred: #9d1412;
$dyellow: #d9b15c;

// light box-shadow color
$ldark: #292e34;
$llight: #ffffff;
$lblue: #0190f3;
$lgreen: #309f9a;
$lred: #d51a18;
$lyellow: #ffef7c;

// text colors
$tdark: #999;
$tlight: #e1e8f0;
$tblue: #4169e1;
$tgreen: #67ff48;
$tred: #ff0d45;
$tyellow: #ffe032;
$tblack: #000000;
$twhite: #ffffff;
