// types of components (this library offers by default)
// DESCRIPTION
@use "./defaults" as *;
$base: (
    'dark': ('background': $dark, 'box-shadow':('darker': $ddark, 'lighter': $ldark), 'border-color': $dark),
    'light': ('background': $light, 'box-shadow':('darker': $dlight, 'lighter': $llight), 'border-color': $light),
    'blue': ('background': $blue, 'box-shadow':('darker': $dblue, 'lighter': $lblue), 'border-color': $blue),
    'green': ('background': $green, 'box-shadow':('darker': $dgreen, 'lighter': $lgreen), 'border-color': $green),
    'red': ('background': $red, 'box-shadow':('darker': $dred, 'lighter': $lred), 'border-color': $red),
    'yellow': ('background': $yellow, 'box-shadow':('darker': $dyellow, 'lighter': $lyellow), 'border-color': $yellow)
    );
// if gradient together with base
// $base: (
//     'dark': ('background': ('background': #24282d, 'start': #202429, 'end': #272b30), 'box-shadow':('darker': #00000020, 'lighter': #ffffff08), 'border-color': #24282d),
//     'light': ('background': ('background': #e0e0e0, 'start': #cacaca, 'end': #f0f0f0), 'box-shadow':('darker': #00000015, 'lighter': #ffffff92), 'border-color': #e0e0e0),
//     'blue': ('background': ('background': #017dd3, 'start': #0171be, 'end': #0186e2), 'box-shadow':('darker': #00000020, 'lighter': #ffffff20), 'border-color': #017dd3),
//     'green': ('background': ('background': #256668, 'start': #215c5e, 'end': #286d6f), 'box-shadow':('darker': #00000020, 'lighter': #ffffff20), 'border-color': #256668),
//     'red': ('background': ('background': #b91715, 'start': #a71513, 'end': #c61916), 'box-shadow':('darker': #00000025, 'lighter': #ffffff25), 'border-color': #b91715),
//     'yellow': ('background': ('background': #ffd06c, 'start': #e6bb61, 'end': #ffdf74), 'box-shadow':('darker': #00000020, 'lighter': #ffffff98), 'border-color': #ffd06c)
//     );
// type of shapes
//noclass, s1, s2

// angles or direction of the light source (this library offers by default)
// four default angles are given for light source
// top-right
// bottom-right
// top-left
// bottom-left
$angles:(
    'tr':('x': -6px 6px, 'y': 6px -6px, 'm': 12px, 'ang': 45deg),
    'br':('x': -6px -6px, 'y': 6px 6px, 'm': 12px, 'ang': 145deg),
    'tl':('x': 6px 6px, 'y': -6px -6px, 'm': 12px, 'ang': 315deg),
    'bl':('x': 6px -6px, 'y': -6px 6px, 'm': 12px, 'ang': 255deg)
    );

// default colors
// twelve default colors are given, six for background or components and six for text or icon
$colors: (
    'dark': ('color': $tdark, 'background': $dark),
    'light': ('color': $tlight, 'background': $light),
    'blue': ('color': $blue, 'background': $blue),
    'green': ('color': $tgreen, 'background': $green),
    'red': ('color': $tred, 'background': $red),
    'yellow': ('color': $tyellow, 'background': $yellow),
    'black': ('color': $tblack),
    'white': ('color': $twhite)
    );

// default curves
$curves: (
    'curve-1': ('border-radius': .5rem),
    'curve-2': ('border-radius': .8rem),
    'curve-3': ('border-radius': 1rem),
    'curve-4': ('border-radius': 1.4rem),
    'curve-5': ('border-radius': 2rem),
    'rounded': ('border-radius': 200px, 'min-height': 4rem, 'min-width': 0, 'max-height': 5rem)
    );

$borders: (
    'border-1': ('border': .2rem solid),
    'border-2': ('border': .2rem solid),
    'border-3': ('border': .3rem solid),
    'border-4': ('border': .4rem solid),
    'border-5': ('border': .5rem solid)
    );

$grad:(
    'dark': ('background': $dark, 'start': #202429, 'end': #272b30),
    'light': ('background': $light, 'start': #cbd1d8, 'end': #f1f8ff),
    'blue': ('background': $blue, 'start': #0171be, 'end': #0186e2),
    'green': ('background': $green, 'start': #215c5e, 'end': #286d6f),
    'red': ('background': $red, 'start': #a71513, 'end': #c61916),
    'yellow': ('background': $yellow, 'start': #e6bb61, 'end': #ffdf74)
);

$button:(
    'dark': ('background': $dark, 'color':'', 'box-shadow':('darker': $ddark, 'lighter': $ldark, 'modd': $ddark+"90", 'modl': $ldark+"90")),
    'light': ('background': $light, 'box-shadow':('darker': $dlight, 'lighter': $llight, 'modd': $dlight+"90", 'modl': $llight+"90")),
    'blue': ('background': $blue, 'box-shadow':('darker': $blue, 'lighter': $lblue, 'modd': $dblue+"90", 'modl': $lblue+"90")),
    'green': ('background': $green, 'box-shadow':('darker': $green, 'lighter': $lgreen, 'modd': $dgreen+"90", 'modl': $lgreen+"90")),
    'red': ('background': $red, 'box-shadow':('darker': $dred, 'lighter': $lred, 'modd': $dred+"90", 'modl': $lred+"90")),
    'yellow': ('background': $yellow, 'box-shadow':('darker': $dyellow, 'lighter': $lyellow, 'modd': $dyellow+"90", 'modl': $lyellow+"90"))
    );

$input:(
    'dark': ('background': $dark, 'color':'', 'box-shadow':('darker': $ddark, 'lighter': $ldark, 'modd': $ddark+"90", 'modl': $ldark+"90")),
    'light': ('background': $light, 'box-shadow':('darker': $dlight, 'lighter': $llight, 'modd': $dlight+"90", 'modl': $llight+"90")),
    'blue': ('background': $blue, 'box-shadow':('darker': $blue, 'lighter': $lblue, 'modd': $dblue+"90", 'modl': $lblue+"90")),
    'green': ('background': $green, 'box-shadow':('darker': $green, 'lighter': $lgreen, 'modd': $dgreen+"90", 'modl': $lgreen+"90")),
    'red': ('background': $red, 'box-shadow':('darker': $dred, 'lighter': $lred, 'modd': $dred+"90", 'modl': $lred+"90")),
    'yellow': ('background': $yellow, 'box-shadow':('darker': $dyellow, 'lighter': $lyellow, 'modd': $dyellow+"90", 'modl': $lyellow+"90"))
);
